
/*default font*/
body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.title {
	font-size: 36px;
}

.subtitle {
	font-size: 18px;
}

.axis {
	font-size: 10px;
}

.chart {
	font-size: 12px;
}

.footer {
	font-size: 12px;
}

div.explanationOne {
	font-size: 12px;

}
div.explanationTwo {
	font-size: 12px;
}
div.explanationThree {
	font-size: 12px;
}

